<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <meta name="description" content="Web application for data interaction." />
  <meta name="keywords" content="web-app, data, visualization" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
  {% block head %}
  {% endblock head %}
  <title>
    {% block title %}
    {% endblock title %}
  </title>
</head>

<body>
  {% block header %}
  <header>
    <nav>
      <ul>
        <li><a class="nav-head" href="/"><strong>CAJÓN</strong></a></li>
      </ul>
      <ul>
        {% block nav_actions %}
        {% endblock nav_actions %}
      </ul>
    </nav>
  </header>
  {% endblock header %}

  {% block main %}
  {% endblock main %}
</body>

</html>